@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
#myfnav {
  position: sticky;
  height: 100px;
  width: 100vw;
  background: white;
  opacity: 0.95;
  top: 0;
  z-index: 546814;
  .logo {
    position: absolute;
    font-size: 2.7rem;
    left: 50px;
    top: 0em;
    line-height: 100px;
    font-family: "Krona One", sans-serif;
    color: #3498db;
    pointer-events: none;
  }
  .nav {
    position: absolute;
    right: 40px;
    line-height: 100px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        padding: 0 17px;
        font-size: 1.3rem;
        a {
          position: relative;
          font-family: "Quicksand", sans-serif;
          color: grey;
          transition: 0.4s;
          padding: 7px 0;
          &:hover {
            color: #444444;
          }
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 0;
            height: 2px;
            background: #444444;
            bottom: 0;
            transition: 0.4s;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
.section-heading {
  font-size: 2.8rem;
  font-family: "Righteous", cursive;
}
#team {
  margin-top: 50px;
  .cards {
    margin-top: 100px;
    .card {
      width: 300px;
      height: 400px;
      overflow: hidden;
      transition: 0.4s;
      &:hover {
        height: 700px;
        margin-top: -50px;
      }
      .card-title {
        width: 100%;
        opacity: 0.8;
      }
    }
  }
}
#contact {
  margin-top: 50px;
  #per-profile {
    h4 {
      font-family: "Red Rose", cursive;
    }
    #call,
    #mail {
      padding: 7px;
      background: black;
      color: white;
      border-radius: 50%;
      margin-left: 5px;
    }
    #mail {
      padding: 8px;
    }
  }
}
